.wrapper {
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #0000000d;
  display: flex;
  background-color: white;
  align-items: center;
  margin-bottom: 12px;
  &--recent-historical {
    opacity: 0.6;
  }
}

.category {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-inline-start: 10px;
  background-color: #a1c8f6;
  display: flex;
  justify-content: center;
  align-items: center;
  &--soldout {
    background-color: #cecece;
  }
}

.detail {
  margin-inline-start: 14px;
  flex: 1;
}
.location-time {
  font-weight: 400;
  font-size: 12px;
}

.tag {
  padding-inline: 8px;
  padding-block: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.price--tag {
  background-color: colors.$cta-bg;
}
.soldout-tag {
  background-color: #ee3f56;
}

.dot {
  background-color: colors.$cta-color;
  width: 5px;
  height: 5px;
  margin-inline: 8px;
  border-radius: 50%;
  &--soldout {
    background-color: #b4b4b4;
  }
}

.location-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-end: 13px;
  justify-content: space-between;
  row-gap: 8px;
}

.active-historical-tag {
  background-color: #79ace1;
}

.location {
  display: flex;
  align-items: center;
  flex-basis: 220px;
}
