.wrapper {
  padding-block-start: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-block-end: 80px;
  padding-inline: 20px;
  background-color: #fbfbfb;
  position: relative;
}

.date-filter {
  height: 45px;
  width: 100%;
  background-color: red;
}

.experience-list-wrapper {
  overflow-y: auto;
  flex: 1;
}

.remove-filter {
  height: 21px;
  width: 64px;
  font-size: 12px;
  color: #ffffff;
  padding-inline: 4px;
  margin-inline-start: auto;
}

.day-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 24px 12px;
  height: 28px;
}
