.wrapper {
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.app {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100vw;
  background-color: #ffffff;
  height: 100vh;
}
