@font-face {
  font-family: 'vazir';
  src: url('/vazir.ttf');
}
.body {
  font-family: 'vazir' !important;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.app {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.landing {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      to top,
      rgb(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(/landing.png);
}

.actions {
  height: 218px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  a {
    all: unset;
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
.list-text {
  font-weight: 500;
  font-size: 14px;
  color: #585858;
  margin-top: 20px;
  text-align: center;
}
