.wrapper {
  padding-block-start: 70px;
}

.user-wrapper {
  margin-inline-start: 35px;
  display: flex;
  align-items: center;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f5f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 16px;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  margin-block-start: 50px;
  a {
    all: unset;
  }
}
.action-item {
  width: 145px;
  height: 125px;
  background-color: #f5f7f6;
  border-radius: 10px;
  row-gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
