.content {
  padding-block: 16px;
  padding-inline: 5px;
}
.divider {
  height: 1px;
  background-color: #d4d4d6;
}
.title {
  margin-block-end: 6px;
  font-size: 16px;
  font-weight: 700;
}
.description {
  margin-block-start: 6px;
  font-weight: 400;
  font-size: 12px;
}
