.images {
  border: 1px solid #ced4da;
  height: 240px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 4px;
  overflow-x: auto;
  padding-inline: 8px;
  column-gap: 10px;
}

.image-wrapper {
  position: relative;
}

.remove-filter {
  height: 21px;
  //   width: 50px;
  font-size: 12px;
  color: #ffffff;
  margin-top: 4px;
  padding-inline: 4px;
}
