.title-wrapper {
  padding-inline-start: 30px;
}
.title {
  font-size: 16px;
  font-weight: 900;
  margin-block-start: 20px;
}

.layout-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.abbr {
  display: flex;
  align-items: center;
}
.date {
  font-size: 14px;
}

.location {
  font-size: 14px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-inline: 13px;
  background-color: colors.$cta-color;
}
.price {
  color: colors.$cta-color;
  background-color: colors.$cta-bg;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 7px;
  padding-block: 4px;
  font-size: 16px;
}

.main-content-wrapper {
  margin-inline: auto;
  margin-block-start: 20px;
  padding-inline: 30px;
}

.options-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.price-action {
  font-size: 18px;
  font-weight: 700;
}

.director {
  display: flex;
  align-items: center;
  &--detail {
    display: flex;
    flex-direction: column;
    margin-inline-start: 14px;
  }
  &--name {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
  }
  &--role {
    font-size: 12px;
    color: #6f6f6f;
    font-weight: 500;
  }
  &--image {
    border-radius: 50%;
  }
}

.carousel {
  height: 248px;
  direction: ltr;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  height: 100%;
}

.back-icon-wrapper {
  position: absolute !important;
  z-index: 1000;
  top: 21px;
  right: 13px;
  background-color: #fbfbfb;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
